h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

.game-area{ 
	width: 50%; 
	margin: auto;
	text-align: center;	
}

.results{
	height: 100px; 
}

.player-select img{
	width: 100px;
}

.player-choice-icons{
	padding: 20px 0px 0px 0px;
	height: 60px; 
}

.player-choice-icons img{
	width: 50px;
}

.player-choice-icons img:hover{
	width: 60px;
	cursor: pointer;
}

.machine-select img{
	width: 100px;
}

.counter-div p{
	background-color:  #8c8c8c;
	display: inline-block;
	padding: 10px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	border-radius: 10px;
}

footer{
	text-align: center;
}

footer p{
	border-radius: 10px;
	background-color: black;
	display: inline-block;
	padding: 10px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}